/* ========================== */
/*        *CSS RESET*         */
/* ========================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Remove formatting from links*/
a {
	color: inherit;
	text-decoration: none;
}

/* ========================== */
/*  *ALL SIZES AND 1201PX++*  */
/* ========================== */

/* GENERAL */
body {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
	background-color: #dadada;
}

h1 {
	font-size: 3rem;
	font-weight: 400;
	text-align: center;
	margin-bottom: 0.5em;
}
h2 {
	font-size: 2.5rem;
	font-weight: 400;
	text-align: center;
	margin-bottom: 0.3em;
}
h3 {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 0.2em;
}

/* NAVBAR */
nav {
	display: flex;
	justify-content: space-between;
	padding: 1.5em;
	background-color: #202020;
	position: sticky;
	top: 0;
}
.nav-left {
	display: flex;
	flex: 1;
	max-width: 20%;
	justify-content: space-between;
}
nav > .nav-left > div {
	font-size: 1rem;
	text-transform: uppercase;
}
.nav-link-wrapper {
	height: 1.5em;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.5s;
}
.nav-link-wrapper a {
	color: #dadada;
	transition: color 0.5s;
}
.nav-link-wrapper:hover {
	border-bottom: 2px solid #ffffff;
}
.nav-link-wrapper a:hover {
	color: #ffffff;
}
.active-nav-link {
	border-bottom: 2px solid #ffffff;
}
.active-nav-link a {
	color: #ffffff !important;
}

.nav-right > .myNameDisplay > div {
	color: #dadada;
	font-size: 1.1rem;
	text-transform: uppercase;
}
/* MAIN */
main {
	width: 75%;
	margin: 3rem auto;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	text-align: justify;
}

/* width="371"
height="297"
viewBox="0 0 371 297" */

/* main-home */
.index {
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.index .index-item-wrapper {
	border: 1px solid #ca1d1d;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 50%;
}
#maj-svg {
}
.index .index-item-wrapper .index-left {
	padding-right: 2rem;
	border-right: 4px solid #202020;
}
.index .index-item-wrapper .index-right {
	min-height: 298px;
	max-height: 298px;
	padding-left: 2rem;
	font-size: 2.5rem;
	text-align: left;
	text-transform: uppercase;
	color: #202020;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.index-right-one {
	/* border: 1px solid #ca1d1d; */
}
.index-right-between {
	border-bottom: 2px solid #202020;
}
.index-right-two {
	/* border: 1px solid #ca1d1d; */
}

/* main-about */
.about .box {
	position: relative;
	width: 500px;
	height: 500px;
}
.about .box img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	/* mix-blend-mode: screen; */
}

/* main-projects */
.projects-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(252px, 252px));
	grid-auto-rows: 252px;
	gap: 1.5rem;
	place-items: center;
	justify-content: center;
}

.projects-grid .project-wrapper {
	height: 252px;
	width: 252px;
	text-align: center;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.25);
	background-color: #202020;
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: center;
	align-items: center; */
}

/* FOOTER */
footer {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
	padding: 1.5rem;
	background-color: #202020;
}
.foot-left {
	display: flex;
	align-items: center;
	margin-right: 3em;
}
.foot-link-wrapper a {
	color: #dadada;
	transition: color 0.5s;
}
.foot-link-wrapper a:hover {
	color: #ffffff;
}
.foot-right > div {
	color: #dadada;
	font-size: 1rem;
	text-align: right;
}

/* ========================== */
/*       *OTHER SIZES*        */
/* ========================== */

@media (max-width: 1200px) {
	/* GENERAL */

	/* NAVBAR */
	.nav-left {
		max-width: 27%;
	}

	/* MAIN */
	main {
		width: 83%;
	}
}

@media (max-width: 992px) {
	/* GENERAL */

	/* NAVBAR */
	.nav-left {
		max-width: 33%;
	}

	/* MAIN */
	main {
		width: 87%;
		margin: 2em auto;
	}
	/* main-home */
	.index .index-item-wrapper .index-right {
		padding-left: 2.2rem;
		min-height: 266.4px;
		max-height: 266.4px;
		font-size: 2rem;
	}
	#maj-svg {
		max-width: 333.9px;
		max-height: 266.4px;
	}
}

@media (max-width: 768px) {
	/* GENERAL */
	h1 {
		font-size: 2.5rem;
		font-weight: 400;
	}
	h2 {
		font-size: 2rem;
		font-weight: 300;
	}
	h3 {
		font-size: 1.5rem;
	}

	/* NAVBAR */
	.nav-left {
		max-width: 40%;
	}

	/* MAIN */
	main {
		width: 90%;
	}
	/* main-home */
	.index {
		flex-direction: column;
	}
	.index .index-item-wrapper {
		width: 100%;
	}
	.index .index-item-wrapper .index-left {
		padding-right: 0;
		padding-bottom: 1rem;
		border-right: none;
		border-bottom: 4px solid #202020;
	}
	.index .index-item-wrapper .index-right {
		min-height: auto;
		max-height: auto;
		min-width: 333.9px;
		max-width: 333.9px;
		padding-top: 1rem;
		padding-left: 0;
		font-size: 1.5rem;
		text-align: center;
		text-transform: uppercase;
		color: #202020;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	#maj-svg {
		max-width: 333.9px;
		max-height: 266.4px;
	}
	.index-right-between {
		border-bottom: 2px solid #202020;
		margin: 0.8rem 0;
	}
}

@media (max-width: 576px) {
	/* GENERAL */
	h1 {
		font-size: 2rem;
		font-weight: 300;
	}
	h2 {
		font-size: 1.6rem;
		font-weight: 300;
	}
	h3 {
		font-size: 1.2rem;
	}

	/* NAVBAR */
	nav {
		flex-direction: row;
		align-items: center;
	}
	.nav-left {
		flex-direction: column;
		align-items: left;
	}
	.nav-link-wrapper {
		height: 1.1em;
		border-bottom: none;
		border-left: 2px solid transparent;
		transition: border-left 0.5s;
		padding-left: 7px;
	}
	.nav-link-wrapper:hover {
		border-left: 2px solid #ffffff;
		border-bottom: none;
	}
	.active-nav-link {
		border-left: 2px solid #ffffff;
		border-bottom: none;
	}
	nav > .nav-left > div {
		font-size: 0.9rem;
	}

	/* MAIN */
	main {
		width: 95%;
		margin: 1em auto;
	}
	/* main-home */
	.index .index-item-wrapper .index-right {
		min-width: 296.8px;
		max-width: 296.8px;
		font-size: 1.2rem;
	}
	#maj-svg {
		max-width: 296.8px;
		max-height: 236.8px;
	}
}
