/* ========================== */
/*        *CSS RESET*         */
/* ========================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Remove formatting from links*/
a {
	color: inherit;
	text-decoration: none;
}

/* ========================== */
/*  *ALL SIZES AND 1201PX++*  */
/* ========================== */

/* GENERAL */
body {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	height: 100vh;
	/* min-height: 100vh; */
	background-color: #dadada;
}

h1 {
	font-size: 3rem;
	font-weight: 400;
	text-align: center;
	margin-bottom: 0.5em;
}
h2 {
	font-size: 2.5rem;
	font-weight: 400;
	text-align: center;
	margin-bottom: 0.3em;
}
h3 {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 0.2em;
}

/* NAVBAR */
nav {
	display: flex;
	justify-content: space-between;
	padding: 1.5em;
	background-color: #202020;
	position: sticky;
	top: 0;
}
.nav-left {
	display: flex;
	flex: 1;
	max-width: 20%;
	justify-content: space-between;
}
nav > .nav-left > div {
	font-size: 1rem;
	text-transform: uppercase;
}
.nav-link-wrapper {
	height: 1.5em;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.5s;
}
.nav-link-wrapper a {
	color: #dadada;
	transition: color 0.5s;
}
.nav-link-wrapper:hover {
	border-bottom: 2px solid #ffffff;
}
.nav-link-wrapper a:hover {
	color: #ffffff;
}
.active-nav-link {
	border-bottom: 2px solid #ffffff;
}
.active-nav-link a {
	color: #ffffff !important;
}

.nav-right > .myNameDisplay > div {
	color: #dadada;
	font-size: 1.1rem;
	text-transform: uppercase;
}
/* MAIN */
main {
	width: 75%;
	margin: 3rem auto;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	text-align: justify;
}

/* main-home */
.index {
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.index .index-item-wrapper {
	/* border: 1px solid #ca1d1d; */
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 50%;
}
.index .index-item-wrapper .index-left {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 350px;
	padding-right: 2rem;
	border-right: 4px solid transparent;
	animation: index-border-1 1s ease forwards 3.8s;
}
@keyframes index-border-1 {
	to {
		border-right: 4px solid #202020;
	}
}
#maj-svg {
	animation: fill 0.5s ease forwards 3.5s;
}
#maj-svg path:nth-child(1) {
	stroke-dasharray: 352.32;
	stroke-dashoffset: 352.32;
	animation: line-anim 1.5s ease forwards;
}
#maj-svg path:nth-child(2) {
	stroke-dasharray: 151.68;
	stroke-dashoffset: 151.68;
	animation: line-anim 1.5s ease forwards 0.2s;
}
#maj-svg path:nth-child(3) {
	stroke-dasharray: 40.762;
	stroke-dashoffset: 40.762;
	animation: line-anim 1.5s ease forwards 0.4s;
}
#maj-svg path:nth-child(4) {
	stroke-dasharray: 473.22;
	stroke-dashoffset: 473.22;
	animation: line-anim 1.5s ease forwards 0.6s;
}
#maj-svg path:nth-child(5) {
	stroke-dasharray: 248.77;
	stroke-dashoffset: 248.77;
	animation: line-anim 1.5s ease forwards 0.8s;
}
#maj-svg path:nth-child(6) {
	stroke-dasharray: 392.774;
	stroke-dashoffset: 392.774;
	animation: line-anim 1.5s ease forwards 1s;
}
#maj-svg path:nth-child(7) {
	stroke-dasharray: 330.051;
	stroke-dashoffset: 330.051;
	animation: line-anim 1.5s ease forwards 1.2s;
}
#maj-svg path:nth-child(8) {
	stroke-dasharray: 473.22;
	stroke-dashoffset: 473.22;
	animation: line-anim 1.5s ease forwards 1.4s;
}
#maj-svg path:nth-child(9) {
	stroke-dasharray: 337.344;
	stroke-dashoffset: 337.344;
	animation: line-anim 1.5s ease forwards 1.6s;
}
#maj-svg path:nth-child(10) {
	stroke-dasharray: 151.678;
	stroke-dashoffset: 151.678;
	animation: line-anim 1.5s ease forwards 1.8s;
}
#maj-svg path:nth-child(11) {
	stroke-dasharray: 298.684;
	stroke-dashoffset: 298.684;
	animation: line-anim 1.5s ease forwards 2s;
}
#maj-svg path:nth-child(12) {
	stroke-dasharray: 473.22;
	stroke-dashoffset: 473.22;
	animation: line-anim 1.5s ease forwards 2.2s;
}
#maj-svg path:nth-child(13) {
	stroke-dasharray: 330.05;
	stroke-dashoffset: 330.05;
	animation: line-anim 1.5s ease forwards 2.4s;
}
#maj-svg path:nth-child(14) {
	stroke-dasharray: 200.044;
	stroke-dashoffset: 200.044;
	animation: line-anim 1.5s ease forwards 2.6s;
}
#maj-svg path:nth-child(15) {
	stroke-dasharray: 40.762;
	stroke-dashoffset: 40.762;
	animation: line-anim 1.5s ease forwards 2.8s;
}
@keyframes line-anim {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes fill {
	from {
		fill: transparent;
	}
	to {
		fill: #202020;
	}
}
.index .index-item-wrapper .index-right {
	min-height: 298px;
	max-height: 298px;
	padding-left: 2rem;
	font-size: 2.5rem;
	text-align: left;
	text-transform: uppercase;
	color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	animation: index-text 1s linear forwards 4.4s;
}
@keyframes index-text {
	to {
		color: #202020;
	}
}
.index-right-between {
	border-bottom: 2px solid transparent;
	animation: index-border-2 1s ease forwards 4.1s;
}
@keyframes index-border-2 {
	to {
		border-bottom: 2px solid #202020;
	}
}

/* main-about */
.about {
	justify-content: center;
}
.about .about-section-wrapper,
.project .about-section-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}
.about .about-section-wrapper .about-basic-wrapper,
.project .about-section-wrapper .about-basic-wrapper {
	height: 50%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	/* border: 2px solid red; */
}
.about .about-section-wrapper .about-basic-wrapper img {
	border-radius: 50%;
	width: 100%;
	max-width: 400px;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.25);
	/* height: 100%; */
}
.about .about-section-wrapper .about-basic-wrapper p,
.project .about-section-wrapper .about-basic-wrapper p {
	font-size: 1.3rem;
	text-align: left;
	color: #202020;
}
.about .about-section-wrapper .about-basic-wrapper .contacts,
.project .about-section-wrapper .about-basic-wrapper .contacts {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* border: 2px solid red; */
}
.fa-brands {
	font-size: 3rem;
	color: #202020;
}
.about .about-title {
	color: #202020;
}
.about .about-border,
.project .about-border {
	border-bottom: 2px solid #202020;
}
.about .certificates-grid {
	display: flex;
	/* display: grid;
	grid-template-columns: repeat(auto-fill, minmax(450px, 450px));
	grid-auto-rows: auto;
	gap: 1.5rem; */
	/* place-items: center; */
	justify-content: center;
	align-items: center;
	/* border: 2px solid red; */
}
.about .certificates-grid .about-cert-wrapper {
	max-height: 450px;
	width: 450px;
	/* text-align: center; */
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.25);
}
.about .certificates-grid .about-cert-wrapper img {
	width: 100%;
}

/* main-projects */
.projects-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(252px, 252px));
	grid-auto-rows: 252px;
	gap: 1.5rem;
	place-items: center;
	justify-content: center;
}
.projects-grid .project-wrapper {
	height: 252px;
	width: 252px;
	text-align: center;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.25);
	background-color: #202020;
}

/* project-single */
.project .about-section-wrapper h1 {
	color: #202020;
}
iframe {
	margin: 2em auto;
	border: 4px solid #202020;
	width: 100%;
	aspect-ratio: 16/9;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}
.fa-html5 {
	color: #e34c26;
	text-shadow: 0 3px 12px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.25);
}
.fa-css3-alt {
	color: #264de4;
	text-shadow: 0 3px 12px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.25);
}
.fa-js-square {
	color: #f0db4f;
	text-shadow: 0 3px 12px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.25);
}
#not-used {
	color: #dadada;
	text-shadow: none;
}
#back-button,
#project-link {
	background-color: #202020;
	border-radius: 1em;
	padding: 0.6em;
	transition: background-color 0.5s;
}
#back-button:hover,
#project-link:hover {
	background-color: #202020c2;
}
#back-button p,
#project-link p {
	color: #dadada;
	transition: color 0.5s;
}
#back-button:hover p,
#project-link:hover p {
	color: #ffffff;
}

/* FOOTER */
footer {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
	padding: 1.5rem;
	background-color: #202020;
}
.foot-left {
	display: flex;
	align-items: center;
	margin-right: 3em;
}
.foot-link-wrapper a {
	color: #dadada;
	transition: color 0.5s;
}
.foot-link-wrapper a:hover {
	color: #ffffff;
}
.foot-right > div {
	color: #dadada;
	font-size: 1rem;
	text-align: right;
}

/* ========================== */
/*       *OTHER SIZES*        */
/* ========================== */

@media (max-width: 1200px) {
	/* GENERAL */

	/* NAVBAR */
	.nav-left {
		max-width: 27%;
	}

	/* MAIN */
	main {
		width: 83%;
	}
}

@media (max-width: 992px) {
	/* GENERAL */

	/* NAVBAR */
	.nav-left {
		max-width: 33%;
	}

	/* MAIN */
	main {
		width: 87%;
		margin: 2em auto;
	}
	/* main-home */
	.index .index-item-wrapper .index-right {
		padding-left: 2.2rem;
		/* min-height: 266.4px; */
		max-height: 266.4px;
		font-size: 2rem;
	}
	#maj-svg {
		max-width: 333.9px;
		max-height: 266.4px;
	}
}

@media (max-width: 768px) {
	/* GENERAL */
	h1 {
		font-size: 2.5rem;
		font-weight: 400;
	}
	h2 {
		font-size: 2rem;
		font-weight: 300;
	}
	h3 {
		font-size: 1.5rem;
	}

	/* NAVBAR */
	.nav-left {
		max-width: 40%;
	}

	/* MAIN */
	main {
		width: 90%;
	}
	/* main-home */
	.index {
		flex-direction: column;
	}
	.index .index-item-wrapper {
		width: 100%;
	}
	.index .index-item-wrapper .index-left {
		padding-right: 0;
		padding-bottom: 1.5rem;
		/* min-height: auto; */
		border-right: none;
		border-bottom: 4px solid transparent;
		animation: index-border-11 1s ease forwards 3.8s;
	}
	@keyframes index-border-11 {
		to {
			border-bottom: 4px solid #202020;
		}
	}
	.index .index-item-wrapper .index-right {
		/* min-height: auto; */
		max-height: auto;
		/* min-width: 333.9px; */
		max-width: 333.9px;
		padding-top: 1rem;
		padding-left: 0;
		font-size: 1.5rem;
		text-align: center;
		text-transform: uppercase;
		color: transparent;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		animation: index-text-1 1s linear forwards 4.4s;
	}

	@keyframes index-text-1 {
		to {
			color: #202020;
		}
	}
	#maj-svg {
		max-width: 333.9px;
		max-height: 266.4px;
	}
	.index-right-between {
		border-bottom: 2px solid transparent;
		margin: 0.8rem 0;
		animation: index-border-22 1s ease forwards 4.1s;
	}
	@keyframes index-border-22 {
		to {
			border-bottom: 2px solid #202020;
		}
	}

	/* main-about */
	.about .about-section-wrapper {
		flex-direction: column-reverse;
	}
	.about .about-section-wrapper .about-basic-wrapper,
	.project .about-section-wrapper .about-basic-wrapper {
		width: 100%;
		display: flex;
	}
	#me-2-img {
		display: none;
	}
	/* main-projects */
	iframe {
		aspect-ratio: 9/16;
	}
	.project .about-section-wrapper {
		flex-direction: column;
	}
	.project .about-section-wrapper .about-basic-wrapper p {
		font-size: 1.2rem;
	}
}

@media (max-width: 576px) {
	/* GENERAL */
	h1 {
		font-size: 2rem;
		font-weight: 300;
	}
	h2 {
		font-size: 1.6rem;
		font-weight: 300;
	}
	h3 {
		font-size: 1.2rem;
	}

	/* NAVBAR */
	nav {
		flex-direction: row;
		align-items: center;
	}
	.nav-left {
		flex-direction: column;
		align-items: left;
	}
	.nav-link-wrapper {
		height: 1.1em;
		border-bottom: none;
		border-left: 2px solid transparent;
		transition: border-left 0.5s;
		padding-left: 7px;
	}
	.nav-link-wrapper:hover {
		border-left: 2px solid #ffffff;
		border-bottom: none;
	}
	.active-nav-link {
		border-left: 2px solid #ffffff;
		border-bottom: none;
	}

	/* MAIN */
	main {
		width: 95%;
		margin: 1em auto;
	}
	/* main-home */
	.index .index-item-wrapper .index-right {
		/* min-width: 296.8px; */
		max-width: 296.8px;
		font-size: 1.2rem;
	}
	#maj-svg {
		max-width: 296.8px;
		max-height: 236.8px;
	}

	/* main-about */
	.about .about-section-wrapper .about-basic-wrapper p {
		font-size: 1.2rem;
	}
}
