/* ========================== */
/*        *CSS RESET*         */
/* ========================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Remove formatting from links*/
a {
	color: inherit;
	text-decoration: none;
}

/* ========================== */
/*  *ALL SIZES AND 1201PX++*  */
/* ========================== */

/* GENERAL */
body {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
	background-color: #dadada;
}

h1 {
	font-size: 3em;
	font-weight: 400;
	text-align: center;
	margin-bottom: 0.5em;
}
h2 {
	font-size: 2.5em;
	font-weight: 400;
	text-align: center;
	margin-bottom: 0.4em;
}
h3 {
	font-size: 2em;
	text-align: center;
	margin-bottom: 0.3em;
}

/* NAVBAR */
nav {
	display: flex;
	justify-content: space-between;
	padding: 1.5em;
	background-color: #202020;
	position: sticky;
	top: 0;
}
.nav-left {
	display: flex;
	flex: 1;
	max-width: 20%;
	justify-content: space-between;
}
nav > .nav-left > div {
	font-size: 1em;
	text-transform: uppercase;
}
.nav-link-wrapper {
	height: 1.5em;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.5s;
}
.nav-link-wrapper a {
	color: #dadada;
	transition: color 0.5s;
}
.nav-link-wrapper:hover {
	border-bottom: 2px solid #ffffff;
}
.nav-link-wrapper a:hover {
	color: #ffffff;
}
.active-nav-link {
	border-bottom: 2px solid #ffffff;
}
.active-nav-link a {
	color: #ffffff !important;
}

.nav-right > .myNameDisplay > div {
	color: #dadada;
	font-size: 1em;
	text-transform: uppercase;
}
/* MAIN */
main {
	width: 70%;
	margin: 3em auto;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	text-align: justify;
}
/* main > section {
	margin: 0em auto;
} */

/* FOOTER */
footer {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
	padding: 1.5em;
	background-color: #202020;
}
.foot-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 3em;
}
.foot-link-wrapper a {
	color: #dadada;
	transition: color 0.5s;
}
.foot-link-wrapper a:hover {
	color: #ffffff;
}
.foot-right > div {
	color: #dadada;
	font-size: 1em;
	text-align: right;
}

/* ========================== */
/*       *OTHER SIZES*        */
/* ========================== */

@media (max-width: 1200px) {
	/* GENERAL */
	h1 {
		color: orange;
	}

	/* NAVBAR */
	.nav-left {
		max-width: 27%;
	}
}

@media (max-width: 992px) {
	/* GENERAL */
	h1 {
		color: yellow;
	}

	/* NAVBAR */
	.nav-left {
		max-width: 33%;
	}

	/* MAIN */
	main {
		width: 80%;
		margin: 2em auto;
	}
}

@media (max-width: 768px) {
	/* GENERAL */
	h1 {
		color: green;
	}
	h1 {
		font-size: 2.5em;
		font-weight: 400;
	}
	h2 {
		font-size: 2em;
		font-weight: 300;
	}
	h3 {
		font-size: 1.5em;
	}

	/* NAVBAR */
	.nav-left {
		max-width: 40%;
	}
}

@media (max-width: 576px) {
	/* GENERAL */
	h1 {
		color: blue;
	}
	h1 {
		font-size: 2em;
		font-weight: 300;
	}
	h2 {
		font-size: 1.6em;
		font-weight: 300;
	}
	h3 {
		font-size: 1.2em;
	}

	/* NAVBAR */
	nav {
		flex-direction: row;
		align-items: center;
	}
	.nav-left {
		flex-direction: column;
		align-items: left;
	}
	.nav-link-wrapper {
		height: 1.1em;
		border-bottom: none;
		border-left: 2px solid transparent;
		transition: border-left 0.5s;
		padding-left: 7px;
		/* margin-bottom: 3px; */
	}
	.nav-link-wrapper:hover {
		border-left: 2px solid #ffffff;
		border-bottom: none;
	}
	.active-nav-link {
		border-left: 2px solid #ffffff;
		border-bottom: none;
	}
	nav > .nav-left > div {
		font-size: 0.9em;
	}

	/* MAIN */
	main {
		width: 90%;
		margin: 1em auto;
	}
}
