// Media queries
$mediaMobile: "screen and (max-width: 768px)";
$mediaTablet: "screen and (max-width: 1024px)";
$mediaDesktopSmall: "screen and (max-width: 1366px)";
$fontFamily: "Inter", sans-serif;
$fontWeight: 400;

// Basic
$bg: #f1f1f7;
$bgDark: #313136;
$borderColor: #dfe2e7;
$borderColorDark: #313136;
$borderDefault: 1px solid $borderColor;
$borderDefaultDark: 1px solid $borderColorDark;
$boxShadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
$borderRadius: 5px;

// Text colors
$textDark: #313136;
$textDarkIsh: #67686b;
$textLightIsh: #9EA0A5;
$textLight: #CECFD2;

// Other colors
$red: #d93636;
$orange: #ff9f1a;
$yellow: #eec700;
$lime: #8acc47;
$green: #47cc8a;
$cyan: #30bfbf;
$blue: #00aaff;
$purple: #8f7ee6;
$pink: #e16ab8;
$gray: #98a4b3;

$colors: (
    red: $red,
    orange: $orange,
    yellow: $yellow,
    lime: $lime,
    green: $green,
    cyan: $cyan,
    blue: $blue,
    purple: $purple,
    pink: $pink,
    gray: $gray
);

// /**
//  * loop colors example
//     @each $name, $color in $colors {
//       &.#{"" + $name} {
//         color: white;
//         background-color: $color;
//         border-color: transparent;
//       }
//     }
// */
